

body{
  background-color: rgb(90, 105, 115);
}

#topbar{
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 10px;

}

.cell{
  background-color: #ff6d53;
  height: 100px;
  width: 100px;
  margin: 3px;
  cursor: pointer;
}

row{
  display: flex;
  justify-content: center;
  
}


table{
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: aliceblue;
  height: 100%;
  width: fit-content;
}

button{
  border: none;
  cursor: pointer;
  background-color: #8396ca;
  border-radius: 50;
  margin-left: 3px;
  margin-right: 3px;
  font: 1em sans-serif;
  font-weight: bold;
  color: aliceblue;
}

input{
  -webkit-appearance: none;
  width: 200px;
  height: max-content;
  background: #ffffff;
  outline: none;
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
}

input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  background: #8396ca;
  cursor: pointer;

}

p{

  position: absolute;
  font: 1em sans-serif;
  user-select: none;
  font-weight: bold;

}

